@value headerGreen, makerWhite, makerGreen from "../../common/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.header {
  height: 72px;
  background-color: headerGreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Jua";
  font-size: 25px;
  color: makerWhite;
  margin: 0;
}

.menu {
  display: flex;
  padding: 0 0 0 400px;
  margin: 0;
}

li {
  font-size: 18px;
  color: makerWhite;
  list-style: none;
  padding: 8px 12px;
  margin: 0 8px;
  cursor: pointer;
}
