@value headerGreen, makerWhite, makerGreen from "../../common/colors.css";
@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

.header {
  height: 72px;
  background-color: headerGreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Jua";
  font-size: 24px;
  color: makerWhite;
  margin-left: 30%;
}

.menu {
  display: flex;
  list-style: none;
  font-size: 18px;
  padding: 8px 12px;
  margin-bottom: 0;
  margin-right: 20%;

  color: makerWhite;
}

li {
  margin: 8px 24px;
}
